.landing-page {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    height: calc(100vh - 52px);
   
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 50px 0;
    height: 100%;
}

.hero .hero-text {
    flex: 1;
    padding-right: 50px;
    padding-left: 10px ;
}

.hero .hero-image {
    flex: 1;
    max-width: 50%;
}

.features .feature {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
} 

button.cta {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.cta:hover {
    background-color: #0056b3;
}

button.ctb {
    background-color: #f95757;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (min-width: 428px) {
    .button.ctb {
     margin-left: 5px;
    }
  }



