<!DOCTYPE html>
<html>
<head>
  <style>
    /* Global reset */
    body, p, h1, h2, h3, ul, ol, li {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header {
      text-align: center;
      background-color: #007bff;
      padding: 10px 0;
      border-radius: 5px 5px 0 0;
    }

    .header h1 {
      color: #ffffff;
    }

    .footer {
      text-align: center;
      color: #ffffff;
      margin-top: 20px;
      background-color: #007bff;
      padding: 20px 0;
      border-radius: 0 0 5px 5px;
    }

    .message {
      margin-bottom: 25px;
    }

    .button-container {
      text-align: center;
      margin-top: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Share File</h1>
    </div>
    <div class="message">
      <p>Hello,</p>
      <p>File is shared with you click on button below to view file :</p>
    </div>
    <div class="button-container">
      <a href="{{url}}" class="button">view file</a>
    </div>
  </div>
</body>
</html>
