<mat-card-header class="p-2">
  <mat-card-title class="p-2 ps-4 d-flex justify-content-between align-items-center"
    ><span>Share {{folderName ? 'Folder' : 'File'}} {{ folderName || fileName }}</span
    ><span class="pe-3 cursor"  (click)="closeDialog()" > <mat-icon>clear</mat-icon ></span></mat-card-title
  >

</mat-card-header>

<mat-card-content class="p-2">
    <form [formGroup]="form">
    <mat-form-field appearance="outline" class="col-11">
       <mat-label>Share with People</mat-label>
      <mat-select formControlName="shareWith" multiple>
        <mat-option *ngFor="let people of allUsers$ | async" [value]="people.email">{{people.email}}</mat-option>
      </mat-select>
    </mat-form-field>
</form>
   
</mat-card-content>
<div align="end" class="me-2">
    <button mat-raised-button  class="me-2" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="sharedEmails()">Share</button>
</div>
