.folder-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4e5ff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
.folder-container:hover {
  border: 1px solid #0b57d0;
  cursor: pointer;
}
